@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600|Playfair+Display:400,700);
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

html {
  font-size: 62.5%;
  /*10px browswer default*/
}

body {
  width: 100%;
  *zoom: 1;
}
body:before, body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}

header {
  width: 100%;
  font-size: 1.28em;
  background: #f7f7f7;
}
header img {
  margin-left: -25px;
  margin-top: 11px;
  width: 265px;
}

.home header {
  position: absolute;
  top: 4%;
  left: 0;
  background: rgba(247, 247, 247, 0.7);
}
.home header li ul {
  background: rgba(230, 230, 230, 0.7);
}
.home header li ul a:hover {
  background: rgba(247, 247, 247, 0.7);
}

nav ul {
  margin: 0;
  float: right;
}

nav li {
  display: inline;
  position: relative;
  float: left;
}
nav li a {
  padding: 10px 15px;
  float: left;
  color: #333;
  text-decoration: none;
}
nav li a:hover {
  color: #81B89D;
}
nav li ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  padding-left: 0;
  list-style: none;
  background: #e6e6e6;
}
nav li ul li {
  display: list-item;
  float: none;
  width: auto;
}
nav li ul li a {
  display: block;
  padding: 3px 15px;
  float: none;
}
nav li ul li a:hover {
  background: #f7f7f7;
}

nav li:hover ul {
  display: block;
  z-index: 100;
}

header nav ul li.current-menu-item > a:link,
header nav ul li.current-menu-item > a:visited,
header nav ul li.current-page-ancestor > a:link,
header nav ul li.current-page-ancestor > a:visited {
  color: #81B89D;
  cursor: default;
}

footer {
  width: 100%;
  padding: 30px 50px;
  background: #f7f7f7;
  color: #202020;
  margin-top: 40px;
  clear: both;
}
footer .footer-container {
  max-width: 1200px;
}
footer .left-column {
  float: left;
  width: 55%;
  font-size: 0.64em;
}
footer .right-column {
  float: left;
  width: 40%;
}
footer .footer-nav {
  width: 100%;
  font-size: 1.12em;
}
footer .footer-nav ul, footer .footer-nav li {
  margin: 0;
  padding: 0;
}
footer .footer-nav li {
  float: left;
  list-style-type: none;
  margin-right: 20px;
}
footer .footer-nav a {
  color: #333;
  text-decoration: none;
  font-weight: 600;
}
footer .footer-nav a:hover {
  color: #81B89D;
}
footer p {
  width: 100%;
}
footer img {
  width: 150px;
  display: inline-block;
  position: relative;
  left: 20px;
  top: -20px;
}

footer ul li.current-menu-item > a:link,
footer ul li.current-menu-item > a:visited,
footer ul li.current-page-ancestor > a:link,
footer ul li.current-page-ancestor > a:visited {
  color: #81B89D;
}

body {
  color: #333;
  color: #333;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.6em;
  font-weight: 300;
}

h1, h2, h3, h4, h5 {
  font-family: "Playfair Display", serif;
  margin: 2.24em 0;
}
h1 a, h2 a, h3 a, h4 a, h5 a {
  text-decoration: none;
}

h2 {
  margin: 1.6em 0 0.64em 0;
}

.content > h2 {
  font-size: 2.08em;
}

h3.widget-title {
  margin-bottom: 10px;
}

p {
  line-height: 1.76em;
  margin: 0.8em 0;
}

a {
  color: #81B89D;
}

.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.content,
.sidebar {
  float: left;
  padding: 0 5px;
}

.content {
  width: 70%;
}

.sidebar {
  width: 30%;
}

.front .hero {
  width: 100%;
  height: 370px;
}

.page.page-template-page-full-php .content {
  width: 80%;
}

.contact h3 {
  margin-bottom: 10px;
}

.contact-details {
  float: left;
  width: 33.3333%;
  margin: 0;
}
.contact-details p {
  margin: 0;
}

.single-post .content {
  width: 85%;
}
.single-post .entry-utility {
  clear: both;
}

article {
  border-bottom: 1px dashed #898989;
  padding-bottom: 30px;
}

div.articles,
div.single {
  margin: 0 auto;
}
div.articles h1, div.articles h2,
div.single h1,
div.single h2 {
  margin: 1.6em 0 0.6em;
}
div.articles .gallery::before,
div.single .gallery::before {
  clear: both;
}
div.articles .gallery-item,
div.single .gallery-item {
  width: auto;
  float: left;
  margin-right: 5px;
}
div.articles img,
div.single img {
  max-width: 100%;
}
div.articles footer,
div.single footer {
  padding: 0;
  background: #fff;
  color: #8E8E8E;
  margin-top: 30px;
  font-size: 0.64em;
}
div.articles footer p,
div.single footer p {
  margin: 0.16em 0;
}
div.articles table th,
div.single table th {
  text-align: left;
}
div.articles table td,
div.single table td {
  padding-right: 20px;
}
div.articles dt,
div.single dt {
  font-weight: 600;
  margin-top: 7px;
}
div.articles address,
div.single address {
  margin-left: 10px;
}
div.articles q::after,
div.articles q:after,
div.single q::after,
div.single q:after {
  color: red;
}
div.articles figure.alignleft,
div.articles img.alignleft,
div.single figure.alignleft,
div.single img.alignleft {
  float: left;
  margin-right: 15px;
}
div.articles figure.alignleft::after, div.articles figure.alignleft:after,
div.articles img.alignleft::after,
div.articles img.alignleft:after,
div.single figure.alignleft::after,
div.single figure.alignleft:after,
div.single img.alignleft::after,
div.single img.alignleft:after {
  clear: after;
}
div.articles figure.alignright,
div.articles img.alignright,
div.single figure.alignright,
div.single img.alignright {
  float: right;
  margin-left: 15px;
}
div.articles figure.alignright::after, div.articles figure.alignright:after,
div.articles img.alignright::after,
div.articles img.alignright:after,
div.single figure.alignright::after,
div.single figure.alignright:after,
div.single img.alignright::after,
div.single img.alignright:after {
  clear: after;
}
div.articles figcaption,
div.single figcaption {
  font-size: 0.8em;
}

figure.aligncenter {
  width: auto;
  margin: 0 auto;
}
figure.aligncenter img {
  margin: 0 auto;
}

.team section {
  width: 50%;
  float: left;
  padding: 0 25px;
  margin-top: 25px;
}
.team section:first-of-type,
.team section:nth-of-type(2) {
  margin-top: 0;
}
.team section:nth-of-type(even) {
  margin-right: 0;
}
.team h3, .team h4 {
  margin: 0 0 0.6em;
}
.team img {
  float: left;
  margin-right: 15px;
}
.team img::after, .team img:after {
  clear: after;
}

.readmore {
  margin-top: 10px;
  font-style: italic;
}

.expertise h2,
.expertise h3 {
  margin: 20px 0;
}
.expertise h3 {
  font-size: 1.44em;
}

.entry h2 {
  font-size: 1.28em;
}

@media all and (max-width: 1140px) {
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
  }
}
@media all and (max-width: 1030px) {
  .front .content,
  .page .content {
    width: 60%;
  }
  .front .sidebar,
  .page .sidebar {
    width: 40%;
  }

  .expertise .content {
    width: 90%;
  }
}
@media all and (max-width: 800px) {
  .front .content,
  .page .content {
    width: 90%;
    float: none;
  }
  .front .sidebar,
  .page .sidebar {
    width: 80%;
    float: none;
    border-top: 1px dashed #898989;
    clear: both;
  }

  .team section {
    float: none;
    width: 100%;
    margin-bottom: 30px;
    border-bottom: 1px dashed #898989;
  }
  .team section:last-of-type {
    margin-bottom: none;
    border-bottom: none;
  }
}
@media all and (max-width: 860px) {
  footer .left-column, footer .right-column {
    width: 100%;
  }
  footer .right-column {
    padding-top: 30px;
    text-align: center;
  }
}
@media all and (max-width: 730px) {
  .contact-details {
    float: none;
    width: 100%;
    margin-bottom: 15px;
  }
  .contact-details:last-of-type {
    margin-bottom: none;
  }

  .contact .sidebar {
    width: 100%;
  }
  .contact .sidebar ul {
    padding-left: 0;
  }
}
@media all and (max-width: 420px) {
  .readmore {
    padding-bottom: 25px;
    border-bottom: 1px dashed #898989;
  }
  .readmore:last-of-type {
    border-bottom: none;
  }
}
@media all and (max-width: 400px) {
  .front .sidebar,
  .page .sidebar {
    display: none;
  }

  .contact .sidebar {
    display: block;
  }
}
@media all and (max-width: 380px) {
  .team img {
    float: none;
  }
}

/*# sourceMappingURL=style.css.map */
