@import "starter";
@import "grid";
@import "footer";
@import "mq";

body {
  color: red;
}

a {
  color: #000;
  text-decoration: none;
}


// --- Header ---

header {
  width: 100%;
  background:#F7F7F7;
  font-size: 1.6em;
}

// --- Navigation ---

nav ul {
  padding: 0 2% 0 0;
  margin: 0;
  float: right;
}

nav li {
  display: inline;
  position: relative;
  float: left;

  a {
    padding: 10px 15px;
    float: left;

    &:hover {
      background: #b5b5ad;
    }
  }

  ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    padding-left: 0;
    list-style: none;
    background: #727268;

    li {
      display: list-item;
      float: none;
      width: auto;

      a {
        display: block;
        padding: 3px 15px;
        float: none;

        &:hover {
          background: #b5b5ad;
        }
      }
    }
  }
}

nav li:hover ul {
  display: block;
}